<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <title>Summarize Anything!</title>
</head>
<body>
    <div class="container-fluid">
        <div class="content">
            <div class="title">
                <h1>Summarize Anything!</h1>
            </div>
            <div class="summary">
                <div class="switch-container">
                    <span class="switch-label">Medium Link</span>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="toggleSwitch" checked="false" onchange="toggleSwitchChange()">
                        <label class="custom-control-label" for="toggleSwitch"></label>
                    </div>
                    <span class="switch-label">Paragraph</span>
                </div>
                <form class="forms-url" action="{{ url_for('summarize_url') }}" method="POST" onsubmit="showLoader()">
                    <div class="form-group">
                        <textarea class="form-control Data" name="data" rows="3" oninput="resizeInput(this)" placeholder="Enter Medium link here..."></textarea>
                    </div>
                    <div class="button-container">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
                <form class="forms-para" action="{{ url_for('summarize_text') }}" method="POST" onsubmit="showLoader()">
                    <div class="form-group">
                        <textarea class="form-control Data" name="data" rows="3" oninput="resizeInput(this)" placeholder="Enter text to summarize..." required></textarea>
                    </div>
                    <div class="button-container">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>

                <div class="loader-container text-center mt-3" id="loader" style="display: none;">
                    <div class="spinner-border text-success" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Section -->
    <footer class="footer">
        <p>Made by VRS with <span class="heart">♥</span></p>
    </footer>
</body>
</html>
