.root { 
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: linear-gradient(90deg,rgb(19,20,199),rgb(199,30,15) );
}
.form-group{
    height: 500px;
    width: 1000px;
    margin-left : 450px;
    margin-top: 300px;
    /* border-style: solid;
    border-color: black; */
    border-radius: 30px;
    
}
.form-control {
    border-style: none;
    border-radius: 30px;
    width: 700px;
    height: 50px;
    padding-left: 50px;
    margin-left: 100px;
    margin-top: 130px;
    opacity: 50%;
    outline: none;
    font-family: 'poppins';
    font-size: 20px;
}

.form-control1 {
    border-radius: 30px;
    height: 50px;
    width: 200px;
    outline: none;
    border-style: none;
    background-image:linear-gradient(270deg,rgb(19,20,199),rgb(199,30,15));
    font-size: 20px;
    font-family: 'poppins';
    opacity: 60%;
    margin-left: 380px;
    margin-top: 30px;
}
.form-control1:hover{
    opacity: 100%;
    transition-delay: 0.6s ease;
}

